{% load static %}

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
        <title>AK portfolio</title>
        <link href="{% static 'picture.css' %}" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <!--Header(start)-->
        <table id="header" border="0" width="100%"
            cellpadding="0" cellspacing="0" bgcolor="#4CAF50">
            <tr>
                <td>
                    <table border="0" cellpadding="15"
                        cellspacing="0" width="90%" align="center">
                        <tr>
                            <td>
                                
    
                            </td>
    
                            <td>
                                <font face="Comic sans MS" size="6">
                                    <b>Ashish Kundu.Profile</b>
                                </font>
                            </td>
    
                            <td width="15%">
                                
                            </td>
    
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="about" style="text-decoration:none">
                                    <font face="Verdana" size="5" color=black>
                                        About
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="project" style="text-decoration:none">
                                    <font face="Verdana" size="5" color=black>
                                        Projects
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="achievement" style="text-decoration:none">
                                    <font face="Verdana" size="5" color=black>
                                        Achievements
                                    </font>
                                </a>
                            </td>
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="contact" style="text-decoration:none">
                                    <font face="Verdana" size="5" color=black>
                                        Contact
                                    </font>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Header(end)-->

{% block body %}
{% endblock body %}

<!--Footer1(start)-->
<table id="footer" border="0" width="100%"
cellpadding="0" cellspacing="0" bgcolor="#4CAF50">
<tr>
    <td>
        <table border="0" cellpadding="15"
            cellspacing="0" width="90%" align="center">
            <tr>
                <td width="13%" valign="top">
                    <b>LinkedIn</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>GitHub</b>
                    <a href="#" style="text-decoration:none">
                        ➲ 
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>HackerRank</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>GeeksforGeeks</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>Twitter</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>Instagram</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>Email</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>

                <td>
                    |
                </td>

                <td width="13%" valign="top">
                    <b>Website</b>
                    <a href="#" style="text-decoration:none">
                        ➲
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
<!--Footer1(end)-->



</body>
</html>
